#font {font-family: "Ano Half"; color:#FFFFFF; font-size:30px;}

body.overall {
	background: rgba(0, 0, 0, 0) url(favorite.jpg) no-repeat center fixed;
}

li.active { color:#000000; background-color: white; }