@charset "UTF-8";
/* CSS Document */

body, button, div, html, p, span {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 1em;
}
html {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
}
html * {
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  box-sizing: border-box;
}
body {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 300;
  font-size: 14px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body, button {
  font-family: Circular, Helvetica, Arial, sans-serif;
}
.container {
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: rgb(40, 40, 40);
  min-width: 200px;
}
.main {
  height: 80px;
  position: relative;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(40, 40, 40);
  border-right-color: rgb(40, 40, 40);
  border-bottom-color: rgb(40, 40, 40);
  border-left-color: rgb(40, 40, 40);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
html a {
  color: rgb(255, 255, 255);
}
html a:hover {
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.logo {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 8px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjcuNSAxNjcuNSI+PHBhdGggc3R5bGU9ImZpbGw6IzFFRDc2MCIgZD0iTTgzLjcgMEMzNy41IDAgMCAzNy41IDAgODMuN2MwIDQ2LjMgMzcuNSA4My43IDgzLjcgODMuNyA0Ni4zIDAgODMuNy0zNy41IDgzLjctODMuN1MxMzAgMCA4My43IDB6TTEyMiAxMjAuOGMtMS40IDIuNS00LjYgMy4yLTcgMS43LTE5LjgtMTItNDQuNS0xNC43LTczLjctOC0yLjguNS01LjYtMS4yLTYuMi00LS4yLTIuOCAxLjUtNS42IDQtNi4yIDMyLTcuMyA1OS42LTQuMiA4MS42IDkuMyAyLjYgMS41IDMuNCA0LjcgMS44IDcuMnpNMTMyLjUgOThjLTIgMy02IDQtOSAyLjItMjIuNS0xNC01Ni44LTE4LTgzLjQtOS44LTMuMiAxLTctMS04LTQuM3MxLTcgNC42LThjMzAuNC05IDY4LjItNC41IDk0IDExIDMgMiA0IDYgMiA5em0xLTIzLjhjLTI3LTE2LTcxLjYtMTcuNS05Ny40LTkuNy00IDEuMy04LjItMS05LjUtNS4yLTEuMy00IDEtOC41IDUuMi05LjggMjkuNi05IDc4LjgtNy4yIDEwOS44IDExLjIgMy43IDIuMiA1IDcgMi43IDEwLjctMiAzLjgtNyA1LTEwLjYgMi44eiIvPjwvc3ZnPg==");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}
.cover-small {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 78px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
}
.get-link__button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-image: url("/static/assets/images/embed/share-16.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
  color: rgb(160, 160, 160);
}
.get-link__button:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}
.get-link__button:hover {
  color: rgb(255, 255, 255);
}
.play-button {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 7px;
  top: 7px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIyNiAxNDgxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wIDEzOTRWODdDMCA0Ni4zIDEzLjMgMTkuOCA0MCA3LjUgNjYuNy00LjggOTguNy4zIDEzNiAyM2wxMDM0IDYzNGMzNy4zIDIyLjcgNTYgNTAuMyA1NiA4M3MtMTguNyA2MC4zLTU2IDgzTDEzNiAxNDU4Yy0zNy4zIDIyLjctNjkuMyAyNy44LTk2IDE1LjUtMjYuNy0xMi4zLTQwLTM4LjgtNDAtNzkuNXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: 24px;
  background-position-x: 58%;
  background-position-y: 50%;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(160, 160, 160);
  border-right-color: rgb(160, 160, 160);
  border-bottom-color: rgb(160, 160, 160);
  border-left-color: rgb(160, 160, 160);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
}
.play-button:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}
.container.tracklist-view .play-button {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 10;
  transform: scale(0.6);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(160, 160, 160);
  border-right-color: rgb(160, 160, 160);
  border-bottom-color: rgb(160, 160, 160);
  border-left-color: rgb(160, 160, 160);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.container.tracklist-view .play-button::before {
  transform: scale(1.3);
}
.info {
  position: absolute;
  top: 14px;
  left: 90px;
  right: 40px;
}
.info > * {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.info > div {
  margin-bottom: 3px;
}
.name, .name a {
  color: rgb(255, 255, 255);
}
.creator, .creator a, .name, .name a {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.creator, .creator a {
  color: rgb(160, 160, 160);
}
.progress {
  user-select: none;
  display: none;
  bottom: 10px;
  right: 34px;
  height: 12px;
}
.context-name, .progress {
  position: absolute;
  left: 90px;
}
.no-touch .container:hover .progress {
  display: block;
}
.skip-previous {
  float: left;
  margin-right: 4px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTI2MCAxNTAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yNTIgODY3djUxN2MwIDMyLTExLjMgNTkuNS0zNCA4Mi41cy01MCAzNC41LTgyIDM0LjVoLTIwYy0zMiAwLTU5LjMtMTEuNS04Mi0zNC41LTIyLjctMjMtMzQtNTAuNS0zNC04Mi41VjExNmMwLTMyIDExLjMtNTkuMyAzNC04MkM1Ni43IDExLjMgODQgMCAxMTYgMGgyMGMzMiAwIDU5LjMgMTEuMyA4MiAzNCAyMi43IDIyLjcgMzQgNTAgMzQgODJ2NTI4bDg4Ni02MDZjMzMuMy0yMi43IDYyLTI3LjggODYtMTUuNXMzNiAzOC44IDM2IDc5LjV2MTMwN2MwIDQwLjctMTIgNjcuMi0zNiA3OS41LTI0IDEyLjMtNTIuNyA3LjItODYtMTUuNUwyNTIgODY3eiIgZmlsbD0iI2EwYTBhMCIvPjwvc3ZnPg==");
}
.skip-next, .skip-previous {
  width: 7px;
  height: 8px;
  cursor: pointer;
  color: rgb(160, 160, 160);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}
.progress-time {
  float: right;
  width: 30px;
  text-align: left;
  font-size: 10px;
  line-height: 10px;
  color: rgb(160, 160, 160);
  margin-left: 4px;
}
.skip-next {
  float: right;
  margin-left: 4px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTI2MCAxNTAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMDA4IDg2N3Y1MTdjMCAzMiAxMS4zIDU5LjUgMzQgODIuNXM1MCAzNC41IDgyIDM0LjVoMjBjMzIgMCA1OS4zLTExLjUgODItMzQuNSAyMi43LTIzIDM0LTUwLjUgMzQtODIuNVYxMTZjMC0zMi0xMS4zLTU5LjMtMzQtODItMjIuNy0yMi43LTUwLTM0LTgyLTM0aC0yMGMtMzIgMC01OS4zIDExLjMtODIgMzQtMjIuNyAyMi43LTM0IDUwLTM0IDgydjUyOEwxMjIgMzhDODguNyAxNS4zIDYwIDEwLjIgMzYgMjIuNVMwIDYxLjMgMCAxMDJ2MTMwN2MwIDQwLjcgMTIgNjcuMiAzNiA3OS41IDI0IDEyLjMgNTIuNyA3LjIgODYtMTUuNWw4ODYtNjA2eiIgZmlsbD0iI2EwYTBhMCIvPjwvc3ZnPg==");
}
.progress-bar {
  margin-top: 2px;
  height: 4px;
  background-color: rgb(64, 64, 64);
}
.progress-bar, .progress-bar > span {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.progress-bar > span {
  display: block;
  height: 100%;
  position: relative;
  background-color: rgb(30, 215, 96);
}
.context-name {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: block;
  right: 70px;
  bottom: 11px;
  font-size: 12px;
  line-height: 12px;
  color: rgb(160, 160, 160);
}
.no-touch .container:hover .context-name {
  display: none;
}
.extra {
  width: 100%;
  user-select: none;
  position: relative;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(40, 40, 40);
  border-bottom-color: rgb(40, 40, 40);
  border-left-color: rgb(40, 40, 40);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-width: 0px;
  border-top-style: initial;
  border-top-color: initial;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(24, 24, 24);
}
.cover-art-container, .track-list {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  list-style-type: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-y: auto;
  background-color: rgb(24, 24, 24);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(0, 0, 0);
}
.track-row {
  position: relative;
  height: 45px;
  color: rgb(160, 160, 160);
  background-color: rgb(24, 24, 24);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(40, 40, 40);
  cursor: pointer;
  transition-duration: 0.4s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: background-color;
}
.track-row:last-child {
  border-bottom-width: initial;
  border-bottom-style: none;
  border-bottom-color: initial;
}
.track-row:hover {
  background-color: rgb(40, 40, 40);
  transition-duration: 0.1s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: background-color;
}
.track-row-number {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 45px;
  text-align: center;
  line-height: 45px;
}
.track-row-info {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 0px;
  left: 45px;
  right: 45px;
  bottom: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  padding-top: 9px;
}
.track-row-info .track-artist {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  font-size: 12px;
  color: rgb(160, 160, 160);
}
.track-row-duration {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  width: 45px;
  text-align: right;
  line-height: 45px;
}
.overlay {
  z-index: 10000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  transition-property: opacity;
}
.overlay-inner {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}
.overlay .overlay-close {
  background-image: url("/static/assets/images/embed/x-16.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  cursor: pointer;
  height: 0.7em;
  position: fixed;
  right: 1em;
  top: 1em;
  width: 0.7em;
  z-index: 0;
}
.hide {
  display: none;
}
.overlay-message {
  margin-top: 0.5em;
  margin-right: 2em;
  margin-bottom: 0.5em;
  margin-left: 2em;
}
.btn {
  display: inline-block;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.5;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  padding-top: 4px;
  padding-right: 14px;
  padding-bottom: 2px;
  padding-left: 14px;
  text-align: center;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: normal;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn, .btn:hover {
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.btn.btn-primary {
  background-color: rgb(29, 185, 84);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(29, 185, 84);
  border-right-color: rgb(29, 185, 84);
  border-bottom-color: rgb(29, 185, 84);
  border-left-color: rgb(29, 185, 84);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.btn.btn-primary:hover {
  background-color: rgb(30, 215, 96);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(30, 215, 96);
  border-right-color: rgb(30, 215, 96);
  border-bottom-color: rgb(30, 215, 96);
  border-left-color: rgb(30, 215, 96);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.overlay .unavailable-track a {
  margin-top: 4px;
}
.overlay .btn {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.overlay__title {
  color: rgb(160, 160, 160);
  font-size: 1.5em;
}
.overlay__title--highlight {
  color: rgb(255, 255, 255);
  line-height: 1.5em;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.terms {
  padding-top: 60px;
  color: rgb(160, 160, 160);
}
.terms--success {
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
}
.terms__anchor {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.get-link {
  font-size: 13px;
  color: rgb(160, 160, 160);
}
.overlay__subtitle {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.share-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  background-image: none;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  transition-property: all;
}
.share-button:hover {
  transform: scale(1.2);
}
.share-button--facebook {
  background-image: url("/static/assets/images/embed/fb_colour.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.share-button + .share-button {
  margin-left: 16px;
}
.share-button--messenger {
  background-image: url("/static/assets/images/embed/messenger_colour.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.share-button--twitter {
  background-image: url("/static/assets/images/embed/twitter_colour.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.share-button--link {
  background-image: url("/static/assets/images/embed/copy-32_circle_grey_outline_bg.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.share-button--embed {
  background-image: url("/static/assets/images/embed/embed-code-32_circle_grey_outline_bg.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.embed-link__input, .share-link__input {
  width: 0px;
  height: 0px;
  opacity: 0;
}