#font {color:#AF475F; font-size: 40px;
    text-shadow: -1px 0 white, 0 1px #7E50A0, 1px 0 #7E50A0, 0 -1px white;
}

body.overall {
    /* background: rgba(0, 0, 0, 0) url(loi2.png) no-repeat center fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
}

li.active { color:#000000; background-color: white; }

#bgVideo {
    object-fit: cover;
    height: 100vh;
    min-width: 100vw;
    /* transform: scale(1.30); */
}

#bgImg {
    display: none;
    position: fixed;
    width: 100%;
    transform: translate(0, 50%);
}

#overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0 , 0, 0.35);
    text-align: center;
    overflow-y: scroll;
}


/* @media screen and (max-width: 1048px) {
    #bgVideo {
        display: none;
    }

    #bgImg {
        display: block;
    }
} */