@charset "UTF-8";
/* CSS Document */
@font-face {
 font-family: "Ano Half";
    src:url(../fonts/ano.ttf)format("truetype")	
}

@font-face {
font-family: "TingTong";
	src:url(../fonts/TingTong.ttf)
}

@font-face {
	font-family: "Starlight";
	src:url(../fonts/AtlantideStarlight.ttf);
	}

body.absolute {
	xbackground-image:url(img/loona.png);
	xbackground-repeat:no-repeat;
	font-family: "Ano Half";
	text-align:center;
    margin: 0; padding: 0;
}

title { 
	margin-top:50px;
	width:100%;
	text-align:center;
 }
 
.subject {
    font-size: 2rem;
}

.wxrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*NavBar*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
	width: 100%;
	text-align:center;
}

li {
    float: left;
	color: #fff;
	padding: 15px;
}

li.active { color:#FF00AC; }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#stream {
    float: right;
}

/*Table*/
table.member {
	width:auto;
	margin-left:auto; margin-right:auto;
	}

.memberlist {
	height:200px; width:200px;
	font-family: "TingTong";
	font-size: 38px;
	color:#FFFFFF;
}

.subunit {
	height:200px; width:200px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 38px;
	color:#FFFFFF;
    text-decoration: none; 
}

a.name {
	display:block;
	width:100%; height:100%;
	background-color:rgba(255,255,255,0.00);
	padding-top:2cm;
	text-decoration:none;
	color:white;
}
a.name:hover {
	display:block;
	background-color:rgba(0,0,0,0.30);
	xpadding-top:2cm; xpadding-bottom:cm;
	text-decoration:none;
	color:white;
	transition: 0.4s ease;
}

a.nameoec {
	display:block;
	width:100%; height:100%;
	background-color:rgba(255,255,255,0.00);
	xpadding-top:2.2cm; xpadding-bottom:2.2cm;
	text-decoration:none;
	color:white;
}
a.nameoec:hover {
	display:block;
	background-color:rgba(0,0,0,0.30);
	text-decoration:none;
	color:white;
	transition: 0.4s ease;
}

a.nameyyxy {
    display: block;
    background-color: rgba(0,0,0, 0.0);
    padding-top: 2cm;
    width: 100%; height: 100%;
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}
a.nameyyxy:hover {
	display: block;
	background-color: rgba(0,0,0,0.30);
	text-decoration: none;
	transition: 0.4s ease;
}

a.namepre {
	display:block;
	background-color:rgba(0,0,0,0.00);
	padding-top:1.4cm; padding-bottom:1.4cm;
	text-decoration:none;
	color:black;
	font-family: "Ano Half";
	transition: 0.4s ease;	
}

a.namepre:hover {
	display:block;
	background-color:rgba(0,0,0,0.30);
	padding-top:1.4cm; padding-bottom:1.4cm;
	text-decoration:none;
	color:white;
	transition: 0.4s ease;
}

.footer {
	display:block;
	background-color: black;
	color:white;	
	width: 100%;
	height:2cm;
	margin-top:2cm;
	text-align:left;
}

.current {
    display: block;
    width: 610px;
    margin: auto;
    line-height: 158px;
    font-size: 50px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    margin-top: 1cm; 
    background-color:rgba(0,0,0,0.00);
    transition: 0.4s ease;
}

.current:hover {
    background-color: rgba(0,0,0,0.30);
    transition: 0.4 ease;
}

#heejin:hover {color:#FF008B; transition: .4s ease}
#hyunjin:hover {color:#FFCF00; transition: .4s ease}
#haseul:hover {color:#00B053; transition: .4s ease}
#yeojin:hover {color:#FF5F00; transition: .4s ease}
#vivi:hover {color:#FF94B0; transition: .4s ease}
#kimlip:hover {color:#FF002C; transition: .4s ease}
#jinsoul:hover {color:#0F93F5; transition: .4s ease}
#choerry:hover {color:#BF45F0; transition: .4s ease}
#yves:hover {color:#9C0041; transition: .4s ease}
#chuu:hover {color:#FF8675; transition: .4s ease}
#gowon:hover {color:#00C39F; transition: .4s ease}
#olivia:hover {color:#A5ABC2; transition: .4 ease}

#ot {font-family:"Starlight"; font-size: 38px; color:#FFFFFF; transition: .4s ease; padding-top:2cm; padding-bottom:1.4cm}
#ot:hover {color:#a3e1df; transition: .4s ease} /*ot = 1/3*/
#oec {font-family: "Ano Half"; font-size: 38px; color:#FFFFFF; transition: .4s ease; padding-top:1.4cm; padding-bottom:1.4cm}
#oec:hover {color:#850078; font-family: "Ano Half"; transition: .4s ease}
#yyxy:hover {color:#9FDF9F; transition: .4s ease}
#pre:hover {color:white; font-family: "Ano Half"; transition: .4s ease}

#currentName {
    text-decoration: none;
    color: white;
}

#currentName:hover {
    background-color: rgba(0,0,0,0.30);
    transition: 0.4 ease;
}