@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: "Ano Half";
  src: url(../../fonts/ano.ttf) format("truetype");
}

@font-face {
  font-family: "TingTong";
  src: url(../../fonts/TingTong.ttf);
}

@font-face {
  font-family: "Starlight";
  src: url(../../fonts/AtlantideStarlight.ttf);
}

body {
  font-family: "Ano Half";
  text-align: center;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

title {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

/*NavBar*/
.navbar {
  /* display: none; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  text-align: center;
}

li {
  float: left;
  color: #fff;
  padding: 15px;
}

li.active {
  color: #ff00ac;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#stream {
  float: right;
}

.wrapper {
  display: flex;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px auto;
  transition: 0.2s ease;
}

.menuItem {
  display: table;
  margin: 3%;
  border-radius: 20px;
  border: 2px solid black;
  background-repeat: no-repeat;
  height: 20vw;
  width: 35vw;
  overflow: hidden;
}

.menuName {
  display: table-cell;
  vertical-align: middle;
  height: 30vh;
}

.menuName:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
}

#latest {
  background-color: #ef9cff;
  background-image: url("./img/lates4.png");
  background-size: cover;
  background-position: 50% 50%;
  /* margin-left: 15%; margin-right: 15%;
	margin-top: 2%; margin-bottom: 2%; */
}

#latestImg {
  z-index: -1;
  height: 30vh;
}

#loona {
  background-color: #ef9cff;
  background-image: url("./img/ltv.png");
  background-size: contain;
  background-position: 50% 50%;
  /* margin-left: 15%; margin-right: 15%;
	margin-top: 2%; margin-bottom: 2%; */
}

#preDebut {
  /* xbackground-color: #FFD000; */
  background-image: url("./img/preDebut.png");
  background-size: cover;
  background-position: 50% 50%;
  /* margin-left: 15%; margin-right: 15%; */
}

#events {
  background-image: url("./img/events.png");
  background-size: cover;
  background-position: 50% 50%;
  /* margin-left: 15%; margin-right: 15%; */
}

@media screen and (max-width: 1024px) {
  /* .menuItem {
		width: 30vw;
	} */
}

.footer {
  display: block;
  background-color: black;
  color: white;
  width: 100%;
  height: 2cm;
  margin-top: 2cm;
  text-align: left;
}

.current {
  display: block;
  width: 610px;
  margin: auto;
  line-height: 158px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  overflow: hidden;
  margin-top: 1cm;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s ease;
}

.current:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4 ease;
}

#currentName {
  text-decoration: none;
  color: white;
}

#currentName:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4 ease;
}
