#font {font-family: "Ano Half"; color:#FFFFFF; font-size:30px;}

body.overall {
    xbackground: rgba(0, 0, 0, 0) url(favorite.jpg) no-repeat center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.active { color:#c1e2f2; background-color: black; }

#bgVideo {
    position: fixed;
    transform: translate(0, 36%)
}

#bgImg {
    display: none;
    position: fixed;
    width: 100%;
    transform: translate(0, 50%);
}

#overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0 , 0, 0.35);
    text-align: center;
    overflow-y: scroll;
}

/*
.youtube {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    width: 480px;
    height: 270px;
    overflow: hidden;
    cursor: pointer;
    align-self: center;
}
.youtube img {
    width: 480px;
    height: 360px;
    left: 0;
    top: -45px;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    width: 484px;
    height: 272px;
    top: 0;
    left: 0;
}*/

@media screen and (max-width: 1048px) {
    #bgVideo {
        display: none;
    }

    #bgImg {
        display: block;
    }
}