@charset "UTF-8";
/* CSS Document */

@font-face {
 font-family: "Ano Half";
    src: url(../../fonts/ano.ttf)format("truetype")	
}

@font-face {
font-family: "TingTong";
	src:url(../../fonts/TingTong.ttf)format("Truetype")
}

#font {font-family: "TingTong"; color:#FFCF00; font-size:30px;}

body.overall {
	xbackground: url(../img/heejin.jpg) no-repeat fixed;
	xbackground-repeat:no-repeat;
	font-family: "Ano Half";
	text-align:center;
    margin: 0; padding: 0;
}

title { 
	margin-top:50px;
	width:100%;
	text-align:center;
 }

/*NavBar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
	width: 100%;
	text-align:center;
}

li {
    float: left;
	color: #fff;
	padding: 15px;
}

li.active { color:#FFCF00; }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-content: center;
    padding-top: 1cm;
}

.summary {
    text-align: left;
    padding-top:;
    align-self: center;
}

#stream {
    float: right;
}