@charset "UTF-8";
/* CSS Document */
@font-face {
 font-family: "Ano Half";
    src: url(../fonts/ano.ttf)format("truetype")	
}

@font-face {
font-family: "TingTong";
	src:url(../fonts/TingTong.ttf)
}

@font-face {
	font-family: "Starlight";
	src:url(../fonts/AtlantideStarlight.ttf);
	}

body.absolute {
	xbackground-image:url(img/loona.png);
	xbackground-repeat:no-repeat;
	font-family: "Ano Half";
	text-align:center;
    margin: 0; padding: 0;
}

title { 
	margin-top:50px;
	width:100%;
	text-align:center;
 }
 

/*NavBar*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
	width: 100%;
	text-align:center;
}

li {
    float: left;
	color: #fff;
	padding: 15px;
}

li.active { color:#FF00AC; }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.reddit {
    
}

#stream {
    float: right;
}

.wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}