#font {color:#636469}

body.overall {
    /* background: rgba(165,171,194, 0.5) url(../../../img/background/wolf.png) no-repeat center fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

li.active { color:#636469; }

#bgImg {
    display: none;
    position: fixed;
    height: 100%;
    /* width: 100%; */
    transform: translate(0, 50%);
}

#overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 ,0 , 0, 0.5) /*url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2NkYGD4z8DAwMgAAf/hDKgAI1YBFC0Ax6EGA0lUbFkAAAAASUVORK5CYII=)*/;
    text-align: center;
    overflow-y: scroll;
}

#bgVideo {
    object-fit: cover;
    height: 100vh;
    min-width: 100vw;
    transform: scale(1.30);
}