body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bgVideo {
    position: fixed;
    transform: translate(0, 30%)
}

#overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0 , 0, 0.7);
    text-align: center;
}

h1, h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/* "10" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"11" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"12" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"13" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"14" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"15" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"16" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"17" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
},
"18" : {
    "link": "",
    "cr" : "Veeru - @unnamedfreak"
} */