#font {font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; color:#A3E1DF; font-size:30px;}

body.overall {
	background: rgba(163, 225, 223, 0.5) url(../../../img/background/1_3.png) no-repeat center fixed;
}

li.active { color:#00C39F; }